.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
  }
  
  .iframe {
    width: 95%;
    height: 75vh;
    border: none;
    margin-left: 10px;
  }
  